mixin molecule-menu
	ul(class="molecule-menu")&attributes(attributes)
		li
			+atom-button()(data-cid="overButton1")
				| overButton1
		li
			+atom-button()(data-cid="overButton2")
				| overButton2
		li
			+atom-button()(data-cid="myButton3")
				| myButton3
	if block
		block