.molecule-menu--principal
	float right

	nav
		a
			display block
			border 1px solid #ccc
			padding 4px 6px
			text-decoration none
			color #000
			margin-top -1px
		ul
			ul
				width 215px
				li
					width 100%
				

		