//- template
extends /templates/views/layout

//- components
include /organisms/header/organism-header

block head
	link(rel="stylesheet", href="index.css", media="all")

block content
	-
		var list = [
			{title:"Autos Nuevos", href:"#"},
			{title:"Autos Usados", href:"#"},
			{title:"Motos", href:"#"},
			{title:"Servicios", list: [
				{title:"Tarifador de vehículos", href:"#", icon:"faq"},
				{title:"Alertas de avisos", href:"#", icon:"send"},
				{title:"Comparador de vehiculos 0km", href:"#", icon:"circles"}
			]}
		]

	+organism-header(list)(data-cid="headerDefault").organism-header--default

block footer
	script(type="text/javascript", src="index.js")