@import "../../atoms/fields/button/atom-button"
@import "../../atoms/logo/atom-logo"
@import "../../atoms/isotipo/atom-isotipo"
@import "../../molecules/search/*.styl"
@import "../../molecules/menu/molecule-menu"
@import "../../molecules/menu/modifiers/*.styl"
@import "../../organisms/header-box/modifiers/*.styl"

.content
	width 980px

ul
	padding 0
	margin 0
	
.grid_1
	float left
	clear none
	text-align inherit
	width 6.912499999999999%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_1:after,.grid_1:before
	content ""
	display table

.grid_2
	float left
	clear none
	text-align inherit
	width 15.374999999999996%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_2:after,.grid_2:before
	content ""
	display table

.grid_3
	float left
	clear none
	text-align inherit
	width 23.8375%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_3:after,.grid_3:before
	content ""
	display table

.grid_4
	float left
	clear none
	text-align inherit
	width 32.3%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_4:after,.grid_4:before
	content ""
	display table

.grid_5
	float left
	clear none
	text-align inherit
	width 40.76250000000001%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_5:after,.grid_5:before
	content ""
	display table

.grid_6
	float left
	clear none
	text-align inherit
	width 49.225%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_6:after,.grid_6:before
	content ""
	display table

.grid_7
	float left
	clear none
	text-align inherit
	width 57.68750000000001%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_7:after,.grid_7:before
	content ""
	display table

.grid_8
	float left
	clear none
	text-align inherit
	width 66.14999999999999%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_8:after,.grid_8:before
	content ""
	display table

.grid_9
	float left
	clear none
	text-align inherit
	width 74.6125%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_9:after,.grid_9:before
	content ""
	display table

.grid_10
	float left
	clear none
	text-align inherit
	width 83.07500000000002%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_10:after,.grid_10:before
	content ""
	display table

.grid_11
	float left
	clear none
	text-align inherit
	width 91.5375%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both
	&:last-child
		margin-right 0

.grid_11:after,.grid_11:before
	content ""
	display table

.grid_12
	float left
	clear none
	text-align inherit
	width 100%
	margin-left 0
	margin-right 1.55%
	&:after
		clear both

.grid_12:after,.grid_12:before
	content ""
	display table

.grid_12:last-child,[class^=grid_]:last-child
	margin-right 0

.center_box
	position relative
	max-width 960px
	float none
	display block
	margin-right auto
	margin-left auto
	width 96.5%
	padding 0
	&:after
		clear both

.center_box:after,.center_box:before
	content ""
	display table
